<div ng-controller="ContactController">
	<h1>Contact Us</h1>

	<form method="post" autocomplete="on">
		<label>To: Owner@FrilliosPizza.com</label>
		<br>
		<label class="inline">From: </label>
		<input id="name" name="name" type="text" autofocus placeholder="Name" required>
		<input id="title" name="title" type="text" placeholder="Title" required>
		<textarea id="content" name="content" placeholder="Content" maxlength="1000" required></textarea>
	</form>

	<button type="submit"></button>
	<br>
	<br>
</div>