<div ng-controller="HomeController">
	<img class="slide" src="images/slider/prev.png" ng-click="prev()">
	<a id="link" href=""><img id="slider" src=""></a>
	<span id="desc"></span>
	<img class="slide" src="images/slider/next.png" ng-click="next()">

	<div class="center">
		<h2>Contact Info</h2>
		<p>
			<b>Address:</b> 111 Pepperoni Drive Saucy, CA 92888
			<br>
			<b>Phone Number:</b> 1-888-FRILLIO
			<br>
			<b>Fax Number:</b> 1-888-654-7814
			<br>
			<b>Email Adress:</b> Owner@FrilliosPizza.com
			<br>
			<b>Web Address:</b> http://www.frillios-pizza.com/
		</p>

		<h2>Hours of Operation</h2>
		<p>
			Mon - Thurs 11 AM - 9 PM
			<br>
			Fri, Sat, &amp; Sun 11 AM - 10 PM
		</p>
	</div>
</div>