<div ng-controller="MenuController">
	<h1>Menu</h1>
	<div class="items">
		<h3>Pizzas - $8.99</h3>
		<img src="images/menu/pep_pizza.png" ng-click="addToCheckout('Pepperoni Pizza', 8.99)">
		<img src="images/menu/sausage_pizza.png" ng-click="addToCheckout('Sausage Pizza', 8.99)">
		<img src="images/menu/jalapeno_pizza.png" ng-click="addToCheckout('Jalapeño Pizza', 8.99)">
		<img src="images/menu/bacon_pizza.png" ng-click="addToCheckout('Bacon Pizza', 8.99)">

		<h3>Subs - $3.50</h3>
		<img src="images/menu/spicy_sub.png" ng-click="addToCheckout('Spicy Sub', 3.50)">
		<img src="images/menu/steak_sub.png" ng-click="addToCheckout('Steak Sub', 3.50)">
		<img src="images/menu/chicken_sub.png" ng-click="addToCheckout('Chicken Sub', 3.50)">

		<h3>Calzone - $3.99</h3>
		<img src="images/menu/calzone.png" ng-click="addToCheckout('Calzone', 3.99)">

		<h3>Sides</h3>
		<img src="images/menu/bread.png" title="Bread - $2.00" ng-click="addToCheckout('Bread', 2.00)">
		<img src="images/menu/cheeseSticks.png" title="Cheese Sticks - $2.00" ng-click="addToCheckout('Cheese Sticks', 2.00)">
		<img src="images/menu/fries.png" title="Fries - $1.50" ng-click="addToCheckout('Fries', 1.50)">
		<img src="images/menu/onions.png" title="Onion Rings - $1.50" ng-click="addToCheckout('Onion Rings', 1.50)">

		<h3>Drinks - $0.99</h3>
		<img src="images/menu/coke.png" ng-click="addToCheckout('Coke', 0.99)">
		<img src="images/menu/coke_zero.png" ng-click="addToCheckout('Coke Zero', 0.99)">
		<img src="images/menu/lemonade.png" ng-click="addToCheckout('Lemonade', 0.99)">
		<img src="images/menu/melloyellow.png" ng-click="addToCheckout('Mellow Yellow', 0.99)">
		<img src="images/menu/fanta.png" ng-click="addToCheckout('Fanta', 0.99)">
		<img src="images/menu/pibb.png" ng-click="addToCheckout('Mr. Pibb', 0.99)">
		<img src="images/menu/rootbeer.png" ng-click="addToCheckout('Rootbeer', 0.99)">
		<img src="images/menu/sprite.png" ng-click="addToCheckout('Sprite', 0.99)">
		<img src="images/menu/gingerale.png" ng-click="addToCheckout('Gingerale', 0.99)">
		<img src="images/menu/fresca.png" ng-click="addToCheckout('Fresca', 0.99)">
		<img src="images/menu/nestea.png" ng-click="addToCheckout('Tea', 0.99)">
		<img src="images/menu/water.png" ng-click="addToCheckout('Water', 0.99)">

		<h3>Desserts</h3>
		<img src="images/menu/icecream.png" title="Icecream - $1.50" ng-click="addToCheckout('Icecream', 1.50)">
		<img src="images/menu/cinnamon.png" title="Cinnamon Roll - $1.50" ng-click="addToCheckout('Cinnamon Roll', 1.50)">
		<img src="images/menu/cookies.png" title="Cookie - $0.99" ng-click="addToCheckout('Cookie', 0.99)">
	</div>
	<br>
</div>